* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    line-height: 1;
}

a {
    text-decoration: none;
}

.container {
    width: 1100px;
    max-width: 400%;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog {
    flex: 1 1 21rem;
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin: 10px 20px;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    align-self: normal;
    border-radius: 15px;
    cursor: pointer;
}

.blog h4 {
    font-size: initial;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 10px;
    font-family: sans-serif;
    color: rgb(3, 3, 77);
    font-weight: 900;
}

.blog p {
    margin-bottom: 10px;
    font-family: sans-serif;
    text-align: justify;
}
